<form action="/answer">
  <div class="mb-3">
    <label for="" class="form-label">Ask a question</label>
    <input type="text" class="form-control" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
